* {
    box-sizing: border-box;
    background-color: black;
}
a:link {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
.options {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
   border-style: solid;
   border-width: thin; 
   font-weight: lighter;
   font-family: Supply, Helvetica;
   font-style: normal;
   
}

.shop{
    padding: 5px;
    width: 160px;
}

.sell{
    padding: 5px;
    width: 160px;
}

.ourlabel{
    padding: 5px;
    width: 160px;
}

.contact{
    padding: 5px;
    width: 160px;
}

.search{
    padding: 5px;
    width: 160px;
}

.store {
    filter: grayscale(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    
} 

.recordshelf{
    opacity: .3;
    filter: grayscale(100%) !important;
}

.recordshelf2{
    position: relative;
    padding-top: 50px;
    opacity: .3;
    filter: grayscale(100%) !important;
}

.map{
    position: relative;
    width: 30%;
    height: 40%;
    top: -300px;
    margin: 0 auto;
    padding-bottom: 40px;
    filter: grayscale(100%) !important;
}

.logo {
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center
}

.vinyl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}
.vinyl div {
    flex: 25%;
  }
.vinyl .records {
    padding: 10px;
}
.vinyl .records img {
	-webkit-filter: grayscale(100%) !important;
	filter: grayscale(100%) !important;
}
.vinyl .records img:hover {
	-webkit-filter: grayscale(0) !important;
	filter: grayscale(0) !important;
}
@font-face {
    font-family: "Supply";
    src: url("fonts/Supply-UltraLight.ttf");
    font-style: normal;
  }
  @font-face {
    font-family: "Supply";
    src: url("fonts/Supply-Bold.ttf");
    font-style: oblique;
  }
  

  .see-more {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 50px;
   border-style: solid;
   border-width: thin; 
   font-weight: lighter;
  }
  
  .info{
    position: relative;
    text-align: center;
    color: white;
    font-family: Supply, Helvetica;
    font-style: oblique;
    
  }

  .sellinfo{
      color: white;
      z-index: 100;
      position: absolute;
      color: white;
      font-weight: bold;
      left: 300px;
      right: 300px;
      top: 100px;
      
  }

  .sellbuy {
      font-size: 60pt;
      font-family: Supply, Helvetica;
      
  }

  h2{
      font-size: 20pt;
  }
  p {
    font-style: normal; 
  }

  ul {
    text-align: justify;
    padding-left: 300px;
    list-style-position: inside;
    font-style: normal;
}
.selling {
    font-style: normal;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
}

.sellinglast {
    font-style: normal;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    font-style: oblique;
}

.filter {
        color: white;
        display: flex;
        justify-content: center;
        margin: 0 auto; 
        font-style: oblique;
}

.filteroptions {
    display: flex;
    font-family: Supply, Helvetica;
    font-size: px;
    text-align: center;
}

.all{
    font-style: oblique;
    padding: 5px;
    width: 160px;
}

.cd{
    font-style: oblique;
    padding: 5px;
    width: 160px;
}

.out{
    font-style: oblique;
    padding: 5px;
    width: 160px;
}

.pre{
    font-style: oblique;
    padding: 5px;
    width: 160px;
}

.vin{
    font-style: oblique;
    padding: 5px;
    width: 180px;
}

form{
    color: white;
    text-align: right;
    display: flex;
    justify-content: center;
    margin: 0 auto;
   border-style: solid;
   border-width: thin; 
   font-weight: lighter;
   font-family: Supply, Helvetica;
   font-style: normal;
}


.searching {
    color: white;
    text-align: right;
    display: flex;
    justify-content: center;
    margin: 0 auto;
   border-style: solid;
   border-width: thin; 
   font-weight: lighter;
   font-family: Supply, Helvetica;
   font-style: normal;  
}

.searched{
    
    width: 600px;
}
.textbox{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
   font-weight: lighter;
}
.submitbox {
    color: white;
   
    display: flex;
    

   border-style: solid;
   border-width: thin; 
   font-weight: lighter;
   font-family: Supply, Helvetica;
   font-style: normal;
}

form{
    padding: 5px;
    width: 700px;
}

.svinyl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}
.svinyl div {
    flex: 25%;
  }
.svinyl .srecords {
    padding: 10px;
}
.svinyl .srecords img {
    opacity: .2;
	-webkit-filter: grayscale(100%) !important;
	filter: grayscale(100%) !important;
}
.svinyl .srecords img:hover {
    opacity: 100;
	-webkit-filter: grayscale(0) !important;
	filter: grayscale(0) !important;
}