* {
	box-sizing: border-box;
}

body {
	
	background: #FAEBD7 url('https://i.pinimg.com/564x/3e/1d/4d/3e1d4d582968807c7a83d60d04188054.jpg');
	margin: auto0;

}
.Main-image {
	width:400px;
	

}
.arrow{
	width: 200px;
}
.arrow2{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
}
.line{ 
	width: 200px;

}